/*GENERAL*/
.debug{
  background-color: rgba(252, 0, 0, 0.5);
  min-height: 50px;
  border: 1px solid black;
}

.sg-container{
  max-width: 60%;
  margin: 0 auto;
}

p{
  text-align: justify;
}

.sg-form input, .sg-form textarea{
  border-left:none;
  border-top:none;
  border-right:none;
  border-radius:0;
  padding-left:0;
}

.sg-form input::placeholder, .sg-form textarea::placeholder{
  color:#2C3E50;
}

.sg-form button{
  background-color: #1ABC9C;
  border:none;
}

.sg-form input:focus, .sg-form textarea:focus{
  box-shadow: 0 1px 0 0 rgba(13, 110, 253, .25);
}

/*HEADER*/
header , footer .copyright{
  background-color:#2C3E50;
}

/*MAIN*/
main #sg-jumbotron , #about{
  background-color: #1ABC9C;
}

/*FOOTER*/
footer span{
  color:#1ABC9C
}

footer .info{
  background-color:#3A546D;
}
